<div class="container gameContainer">

  <div id="intro" class="row">
    <div id="instructions" class="">
      How to Play: Drag and drop the correct mathematical operators in the
      correct places to make the four 4s equal 1, then 2, then 3, and so on.
      Remove any dropped tile by clicking on it.
      Negate any '4' by clicking on it. Click it again to toggle back.
    </div>
    <br>
    <button id="startButton" type="button" class="btn btn-primary">Play!</button>

  </div>

  <div id='operatorTiles' class="row dragTiles" style="display: none;">

    <div class="draggable plus plusTileGrid" draggable='true' data-operator="plus" data-value="+"></div>
    <div class="draggable minus minusTileGrid" draggable='true' data-operator="minus" data-value="-"></div>
    <div class="draggable multiply multiplyTileGrid" draggable='true' data-operator="multiply" data-value="*"></div>
    <div class="draggable divide divideTileGrid" draggable='true' data-operator="divide" data-value="/"></div>
    <div class="draggable parensOpen parensOpenTileGrid" draggable='true' data-operator="parensOpen" data-value="("></div>
    <div class="draggable parensClose parensCloseTileGrid" draggable='true' data-operator="parensClose" data-value=")"></div>
    <div class="draggable squared squaredTileGrid" draggable='true' data-operator="squared" data-value="^2)"></div>
    <div class="draggable sqrt sqrtTileGrid" draggable='true' data-operator="sqrt" data-value="^(0.5)"></div>
    <div class="draggable factorial factorialTileGrid" draggable='true' data-operator="factorial" data-value="!"></div>


  </div>

  <div id="buttons" class="row">
    <div class="col">
      <!-- <input id="buttonEval" type="button" value="Evaluate">
      <input id="buttonReset" type="button" value="Reset"> -->
      <input id="buttonTokenize" type="button" value="Tokenize" onclick=tokenize>
    </div>

    <div class="col">
      <div id="expression"></div>
      <div id="expressionRPN"></div>
      <div id="evalResult"></div>
    </div>


  </div>

</div>
