
<div class="container">

  <div id="intro" class="row">
    <p class="font-weight-bold">How to Play: add the correct mathematical operators in the correct places to make the four 4s equal 1, then 2, then 3, and so on.</p>
    <br>
    <button id="startButton" type="button" class="btn btn-primary">Play!</button>

  </div>

  <div id="foursRow1" class="row foursRow noResult">
    <div class="dropZone smallSquare" data-operator-accepted="binary" data-value=""></div>
    <div class="dropZone tallRectangle" data-operator-accepted="parensOpen" data-value=""></div>

    <div class="staticSymbol" data-value="4">
      4
    </div>

    <div class="dropZone smallSquare" data-operator-accepted="binary" data-value=""></div>
    <div class="dropZone tallRectangle" data-operator-accepted="parensOpen" data-value=""></div>


    <div class="staticSymbol" data-value="4">
      4
    </div>

    <div class="dropZone tallRectangle" data-operator-accepted="parens" data-value=""></div>
    <div class="dropZone tallRectangle" data-operator-accepted="parens" data-value=""></div>
    <div class="dropZone smallSquare" data-operator-accepted="binary" data-value=""></div>
    <div class="dropZone tallRectangle" data-operator-accepted="parens" data-value=""></div>

    <div class="staticSymbol" data-value="4">
      4
    </div>

    <div class="dropZone tallRectangle" data-operator-accepted="parens" data-value=""></div>
    <div class="dropZone smallSquare" data-operator-accepted="binary" data-value=""></div>

    <div class="staticSymbol" data-value="4">
      4
    </div>
    <div class="dropZone tallRectangle" data-operator-accepted="parensClose" data-value=""></div>


    <div class="staticSymbol" data-value="=">
      =
    </div>

    <div id="requiredResult" class="staticSymbol" data-value="1">
      1
    </div>

  </div>

  <div class="row dragTiles">

    <div class="draggable smallSquare" draggable='true' data-operator-type="binary">+</div>
    <div class="smallSquare tileSeparator"></div>
    <div class="draggable smallSquare" draggable='true' data-operator-type="binary">-</div>
    <div class="smallSquare tileSeparator"></div>
    <div class="draggable smallSquare" draggable='true' data-operator-type="binary">*</div>
    <div class="smallSquare tileSeparator"></div>
    <div class="draggable smallSquare" draggable='true' data-operator-type="binary">/</div>
    <div class="smallSquare tileSeparator"></div>
    <div class="draggable tallRectangle" draggable='true' data-operator-type="parensOpen">(</div>
    <div class="smallSquare tileSeparator"></div>
    <div class="draggable tallRectangle" draggable='true' data-operator-type="parensClose">)</div>



  </div>

  <div id="buttons" class="row">
    <div class="col">
      <input id="buttonEval" type="button" value="Evaluate">
      <input id="buttonReset" type="button" value="Reset">
    </div>

    <div class="col">
      <div id="expression"></div>
      <div id="evalResult"></div>
    </div>


  </div>



</div>
