<div class="container">

  <div class="row foursRow">
    <div class="dropZone smallSquare" data-operator-accepted="binary"></div>
    <div class="dropZone tallRectangle"></div>

    <div class="staticSymbol"><p>4</p></div>

    <div class="dropZone smallSquare" data-operator-accepted="binary"></div>
    <div class="dropZone tallRectangle"></div>


    <div class="staticSymbol"><p>4</p></div>

    <div class="dropZone tallRectangle"></div>
    <div class="dropZone tallRectangle"></div>
    <div class="dropZone smallSquare" data-operator-accepted="binary"></div>
    <div class="dropZone tallRectangle"></div>

    <div class="staticSymbol"><p>4</p></div>

    <div class="dropZone tallRectangle"></div>
    <div class="dropZone smallSquare" data-operator-accepted="binary"></div>

    <div class="staticSymbol"><p>4</p></div>
    <div class="dropZone tallRectangle"></div>


    <div class="staticSymbol"><p>=</p></div>

    <div class="staticSymbol"><p>1</p></div>

  </div>

  <div class="row dragTiles">

    <div class="draggable smallSquare" draggable='true' data-operator-type="binary">+</div>
    <div class="smallSquare tileSeparator"></div>
    <div class="draggable smallSquare" draggable='true' data-operator-type="binary">-</div>
    <div class="smallSquare tileSeparator"></div>
    <div class="draggable smallSquare" draggable='true' data-operator-type="binary">*</div>
    <div class="smallSquare tileSeparator"></div>
    <div class="draggable smallSquare" draggable='true' data-operator-type="binary">/</div>


  </div>



</div>
