

<div id="outercontainer">
  <span style="color:blue;width:200px;height:200px">strff</span>
<div id="dropZoneContainer" style="margin:20px">

  <div class="newDropZone" ondrop="newDrop(event, this)" ondragover="newAllowDrop(event)"></div>
  <div class="fourDiv">4</div>
  <div id="zone2" class="newDropZone" ondrop="newDrop(event, this)" ondragover="newAllowDrop(event)"></div>
  <div class="fourDiv">4</div>
  <div class="newDropZone" ondrop="newDrop(event, this)" ondragover="newAllowDrop(event)"></div>
  <div class="fourDiv">4</div>
  <div class="newDropZone" ondrop="newDrop(event, this)" ondragover="newAllowDrop(event)"></div>
  <div class="fourDiv">4</div>
  <div class="newDropZone" ondrop="newDrop(event, this)" ondragover="newAllowDrop(event)"></div>

</div>
</div>


<br>

<div id="tileContainer">
<div id="drag1" class="newTile plus" draggable="true" ondragstart="newDrag(event)" width="336" height="69"></div>

<div id="drag2" class="newTile minus" draggable="true" ondragstart="newDrag(event)" width="336" height="69"></div>

<div id="drag3" class="newTile multiply" draggable="true" ondragstart="newDrag(event)" width="336" height="69"></div>

<div id="drag4" class="newTile divide" draggable="true" ondragstart="newDrag(event)" width="336" height="69"></div>

<div id="drag5" class="newTile sqrt" draggable="true" ondragstart="newDrag(event)" width="336" height="69"></div>

</div>
